---
layout: default
---

<section class="section homepage-section" id="our-mission">
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-8 is-centered">
        <h1 class="title">Current status</h1>
          <p>
            Film for Change Aotearoa has ceased operations as of 2021. We have enjoyed serving the Wellington community with our filmmaking. If you're interested in seeing the work we did over our 7 years of operations, please browse this website or our YouTube channel.
          </p>
  
          <br />
          <br />

          <p>
          Thanks,<br /><br />The entire Film for Change Aotearoa team<br />The Film for Change Aotearoa Charitable Trust Board<br />Jesse Gonzales and Helen Anderson (Co-founders)
          </p>
      </div>
      <div class="column"></div>
    </div>
  </div>
</section>

{% include index/video-cta.html %}

{% include index/contribute.html %}
  
