---
layout: default
---

<section class="section homepage-section" id="our-mission">
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-8 is-centered">
        <h1 class="title">Announcement</h1>
          <p>
						Film for Change Aotearoa is currently pausing operations. We're still a strong network of film-makers interested in helping the charitable sector, so feel free to get in touch using our contact form for a referral.
					</p>
      </div>
      <div class="column"></div>
    </div>
  </div>
</section>

{% include index/video-cta.html %}

{% include index/our-mission.html %}

{% include index/how-its-done.html %}
  
{% include index/contribute.html %}
  
