
<section class="section homepage-section other-vids">
  <div class="container">
  <div class="columns">
    <div class="column is-4">
      <a href="/2016/11/02/Changing-the-Tide.html">
        <div class="card">
          <figure class="card-image">
              <img src="/assets/images/thumbs/KeepACoolWorldThumb.png" alt="">
          </figure>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">Changing the Tide</p>
                <p class="subtitle is-6">A time travel film that explores climate change in a near future Wellington, made in collaboration with Keep a Cool World</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column is-4">
      <a href="/2016/08/22/Kaibosh.html">
        <div class="card">
          <figure class="card-image">
              <img src="/assets/images/thumbs/KaiboshThumb.png" alt="">
          </figure>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">Kaibosh</p>
                <p class="subtitle is-6">A timelapse/animation short film explaining what Kaibosh Food Rescue does</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column is-4">
      <a href="/2016/11/28/UNICEF.html">
        <div class="card">
          <figure class="card-image">
              <img src="/assets/images/thumbs/UNICEFViolenceThumb.png" alt="">
          </figure>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">UNICEF</p>
                <p class="subtitle is-6">A series of short films made for UNICEF New Zealand’s Make My Future Fair campaign</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>


  <div class="is-centered is-bold"><a href="/ourwork">See all of our work &gt;</a></div>
  </div>
</section>